In [104]:
import pandas as pd
import math
from statistics import median
from statistics import mean

In [105]:
df=pd.read_csv('data.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [106]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [107]:
df=df.drop(['PassengerId','Name','Ticket','Cabin','Embarked','SibSp','Parch'],axis=1)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [108]:
df.isnull().sum ()

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
dtype: int64

In [109]:
df['Age'].fillna(df.Age.mean(),inplace=True)
df.isnull().sum ()

Survived    0
Pclass      0
Sex         0
Age         0
Fare        0
dtype: int64

In [110]:
from sklearn.preprocessing import LabelEncoder
le_sex=LabelEncoder()
df['Sex']=le_sex.fit_transform(df['Sex'])
df.head()

   Survived  Pclass  Sex   Age     Fare
0         0       3    1  22.0   7.2500
1         1       1    0  38.0  71.2833
2         1       3    0  26.0   7.9250
3         1       1    0  35.0  53.1000
4         0       3    1  35.0   8.0500

In [111]:
from sklearn import tree
model=tree.DecisionTreeClassifier()
from sklearn.model_selection import train_test_split

In [112]:
inputs=df.drop(['Survived'],axis=1)
output=df.Survived
x_train,x_test,y_train,y_test=train_test_split(inputs,output,test_size=0.1)

In [113]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [114]:
model.score(x_test,y_test)

0.7666666666666667

-# Using Classification to solve the same problem